.slie{
    width: 700px;
}
div ul li img{
    width: 100%;
    height: 100%;
}
#formP{
    background-color: #da1616;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}
#form{
    width: 500px;
    border: 1px solid rgba(180, 181, 185, 0.788);
    background-color: rgba(233, 227, 225, 0.856);
    margin: 0 auto;
    margin-top: 100px;
    transition: all 0.5s;

}
form{
    padding: 5px;
}
input[type="submit"]{
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width: 700px){
    .slie{
        margin-top: 10px;
        width: 500px;
        transition: all 0.5s;

    }
}
@media screen and (max-width: 700px){
    .slie{
        margin-top: 10px;
        width: 500px;
        transition: all 0.5s;

    }
    #form{
        margin-top: 10px;
        width: 90%;
        transition: all 0.5s;
    }
}
@media screen and (max-width: 500px){
    .slie{
        margin-top: 10px;
        width: 300px;
        transition: all 0.5s;
    }
    #form{
        margin-top: 10px;
        width: 100%; 
        transition: all 0.5s;
    }
}
