div div ul li a #dife{
    margin-right: 5px;
}
#form{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    background-color: rgba(233, 227, 225, 0.856);
    border: 1px solid rgba(180, 181, 185, 0.788);
    transition: all 0.5s;
}
p#formP{
    color: #fff;
    padding: 5px;
    font-size: 20px;
    background-color: #da1616;
    margin-top: 0px;
    font-style: italic; 
}
form{
    padding: 10px;
}
.slie{
    margin: 0 auto;
    width: 700px;
    transition: all 0.5s;
}
ul li img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 700px){
    .slie{
        margin-top: 10px;
        width: 500px;
        transition: all 0.5s;

    }
    #form{
        margin-top: 0px;
        width: 90%;
        transition: all 0.5s;
    }
}
@media screen and (max-width: 500px){
    .slie{
        margin-top: 10px;
        width: 300px;
        transition: all 0.5s;
    }
    #form{
        margin-top: 0px;
        width: 100%; 
        transition: all 0.5s;
    }
}